<?xml version='1.0' encoding='utf-8'?>
<widget id="com.health.monitor" version="1.0.0" xmlns="http://www.w3.org/ns/widgets" xmlns:android="http://schemas.android.com/apk/res/android">
    <name>UAS</name>
    <description>Real-time Health Monitoring with MAX30100</description>
    <author email="dev@health.com">Health Team</author>
    
    <content src="health.html" />
    
    <access origin="*" />
    <allow-navigation href="*" />
    <allow-intent href="http://*/*" />
    <allow-intent href="https://*/*" />
    
    <platform name="android">
        <allow-intent href="market:*" />
        
        <!-- Android permissions -->
        <config-file target="AndroidManifest.xml" parent="/manifest">
            <uses-permission android:name="android.permission.INTERNET" />
            <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
            <uses-permission android:name="android.permission.ACCESS_WIFI_STATE" />
        </config-file>
        
        <preference name="android-minSdkVersion" value="24" />
        <preference name="android-targetSdkVersion" value="33" />
        <preference name="android-compileSdkVersion" value="35" />
        <preference name="android-buildToolsVersion" value="35.0.0" />
    </platform>
    
    <preference name="DisallowOverscroll" value="true" />
</widget>
